body {
	padding-top: 56px;
	height: 100%;
	width: 100%;
}

#jumboHome {
	background: url('images/adrien-olichon-X8o-P23flgI-unsplash.jpg') no-repeat center;
	color: white;
}

/* project cards */
/* .row {
  display:flex;
  flex-wrap: wrap;
  border:1px solid;
} */

.card {
     display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  margin:0 !important;

}

/* .card .card-title {
  text-align:center;
} */

.card .card-image {
/*     border:3px solid green; */

}
.card .card-image img {
  height:180px;
  object-fit:contain;
}
