body {
  margin: 0;
}


/* Nav */
nav {
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sticky-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}
/* Home */

header {
  border: 1px solid black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* About */

.about {
  border: 1px solid black;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;

}

#selfie {
  border: 1px solid black;
}

#summary {
  border: 1px solid black;
}

.projects {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 100vh;
}

.projects > div {
  border: 1px solid black;
}

.contact {
  border: 1px solid black;
  display: flex;
  height: 90vh;
}

footer {
  border: 1px solid black;
  display: flex;
  height: 10vh;
}

@media screen and (max-width: 600px) {
/* Nav */


/* Home */

/* About */
.about {
  flex-flow: column;  
}
/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
}

.projects > div {
height: 300px;
}

.project > div > img {
  height: auto;
  width: auto;
}

/* Contact */

/* Footer */

}