* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Header and Nav */
header {
  position: fixed;
  width: 100%;
  background: rgba(38, 50, 56, 0.5);
  padding: 10px 0;
  z-index: 1;
  transition: all ease-in-out 0.5s;
}

header:after{
  content: "";
  display: block;
  clear: both;
}

header.fixed-to-top{
  background: rgba(38, 50, 56, 1);
}

.header-container {
  width: 90%;
  margin: 0 auto;
  transition: all ease-in-out 0.5s;
}

.header-container.fixed-to-top {
  width: 96%;
}

#brand {
  color: white;
  float: left;
}

nav {
  float: right;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 0 4px;
}

nav li a {
  padding: 10px 0;
  text-decoration: none;
  color: white;
  transition: all ease-in-out 0.5s;
}

nav li a:hover {
  color: purple;
}

/* Home */

#home {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
/* About */

#about {
  border: 1px solid black;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;

}

#selfie {
  border: 1px solid black;
}

#summary {
  border: 1px solid black;
}

#projects {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 100vh;
}

#projects > div {
  border: 1px solid black;
}

#contact {
  border: 1px solid black;
  display: flex;
  height: 90vh;
}

footer {
  border: 1px solid black;
  display: flex;
  height: 10vh;
}

@media screen and (max-width: 600px) {
/* Nav */


/* Home */

/* About */
#about {
  flex-flow: column;  
}
/* Projects */

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
}

#projects > div {
height: 300px;
}


/* Contact */

/* Footer */

}